:root {
  --basic-white: #ffffff;
  --basic-black: #232323;
  --basic-green: #4fc08d;
  --basic-gray: #f2f2f2;
  --gray: #cecece;
  --gray-light: #eaeaea;
  --basic-light-gray: #fafafa;

  --accent-color: var(--basic-green);
  --text-color: var(--basic-black);

  --transition-time: 200ms;
}

*, *::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--basic-white);
  background-image: linear-gradient(to right,
      var(--basic-white) calc(50% - 469px),
      var(--gray) calc(50% - 468px),
      var(--gray) calc(50% - 467px),
      var(--basic-white) calc(50% - 468px));
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sprite {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding-top: 60px;
  width: 100%;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.header__info {
  grid-column: 4 / 9;
}

.header__logo {
  grid-column: 2 / 3;
}

.header__info h1 {
  margin: 0;
  margin-bottom: 24px;
}

.header__info p {
  margin: 0;
}

.header__social-nav {
  grid-column: 11 / -1;
}

.logo {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow:
      0 8px 15px 0 rgba(0, 0, 0, 0.2),
      0 0 0 11px var(--basic-gray),
      0 0 0 24px var(--basic-light-gray),
      0 0 0 36px var(--basic-white);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social {
  display: grid;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: color var(--transition-time);
  border-radius: 50%;
  color: var(--text-color);
  background-color: var(--gray-light);
}

.social__link:hover,
.social__link:focus {
  color: var(--accent-color);
}

.social__link:active svg {
  transition: opacity var(--transition-time);
  opacity: 0.6;
}

.info {
  max-width: 800px;
  padding-bottom: 48px;
  padding-left: 250px;
}

.info__title {
  position: relative;
  margin: 0;
  margin-bottom: 18px;
  color: var(--accent-color);
}

.info__title::before {
  position: absolute;
  left: -92px;
  top: 17px;
  width: 80px;
  height: 1px;
  content: "";
  background-color: var(--gray);
}

.info__title::after{
  position: absolute;
  left: -99px;
  top: 11px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: "";
  background-color: var(--accent-color);
}

.info__text {
  margin: 0;
  margin-bottom: 15px;
}

.info__text a {
  color: var(--text-color);
}

.info__text a:hover,
.info__text a:focus {
  text-decoration: underline;
}

.skills {
  display: grid;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills__item {
  position: relative;
  padding-left: 25px;
}

.skills__item::before {
  position: absolute;
  left: 0;
  top: 11px;
  content: "";
  width: 15px;
  height: 2px;
  background-color: var(--accent-color);
}

.footer {
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent 0%, var(--basic-white) 20%);
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1000px;
}

.footer__date {
  margin-left: auto;
}

.footer__text {
  font-size: 11px;
  margin: 0;
  margin-left: auto;
}

.footer__link {
  display: inline-flex;
  margin-right: 15px;
  color: var(--text-color);
  transition: opacity var(--transition-time);
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover,
.footer__link:focus {
  opacity: 0.7;
}

.footer__link:active {
  opacity: 0.5;
}


@media (max-width: 1280px) {
  body {
    background-image: linear-gradient(to right,
        var(--basic-white) 114px,
        var(--gray) 114px,
        var(--gray) 115px,
        var(--basic-white) 115px
    );
  }

  .header {
    grid-template-columns: 205px repeat(11, 1fr);
  }

  .header__info {
    grid-column: 3 / 9;
  }

  .header__logo {
    grid-column: 1 / 2;
    justify-self: center;
  }

  .info {
    padding-left: 193px;
  }
}

@media (max-width: 768px) {
  body {
    background-image: linear-gradient(to right,
        var(--basic-white) 84px,
        var(--gray) 84px,
        var(--gray) 85px,
        var(--basic-white) 85px
    );
  }

  .main {
    padding-top: 40px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .header {
    grid-template-columns: 135px 1fr;
    align-items: start;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .header__info {
    grid-column: 2 / -1;
  }

  .header__social-nav {
    grid-template-columns: 50px 50px;
    grid-column: 2 / -1;
  }

  .info,
  .footer__container {
    padding-left: 162px;
  }
}

@media (max-width: 576px) {
  body {
    background-image: linear-gradient(to right,
        var(--basic-white) 64px,
        var(--gray) 64px,
        var(--gray) 65px,
        var(--basic-white) 65px
    );
  }

  .main {
    padding-top: 30px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .header {
    grid-template-columns: 95px 1fr;
    grid-template-rows: auto auto;
  }

  .header__info {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding-left: 75px;
  }

  .header__social-nav {
    grid-template-columns: 50px 50px;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
  }

  .info {
    padding-left: 92px;
  }

  .info__title {
    margin-bottom: 4px;
  }

  .info__title::before {
    left: -43px;
    width: 35px;
  }

  .info__title::after {
    left: -47px;
    top: 13px;
    width: 9px;
    height: 9px;
  }

  .footer__container {
    flex-direction: column;
    padding-left: 0;
  }

  .footer__info {
    margin-bottom: 25px;
  }

  .footer__date {
    margin-left: 0;
  }

  .footer__text {
    font-size: 9px;
    margin-top: 30px;
    margin-left: 0;
  }
}
